
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
#container section{
    padding: 50px;
}
#sidebar {
    padding: 5px 0 0 5px;
    width: 20%;
    min-width: 450px;
    height: 100vh;
    overflow-y: scroll;
}
#table-container {
    margin-top: 50px;
    height: 80vh;
    width: 60vw;
    overflow-y: scroll;
}
#table-content {
    height: 80vh;
    overflow-y: scroll;
}